
.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

.nav-wrapper {
    background-color: rgb(65,84,65);
}

.collapsible-header {
    background-color: rgb(65,84,65);
}

.collapsible-body {
    background-color: antiquewhite;
}

body {
    background-color: rgba(114,40,37,0.5);
}

