
.text-shadow {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

.nav-wrapper {
    background-color: olivedrab
}

.collapsible-header {
    background-color: orangered;
}

.collapsible-body {
    background-color: antiquewhite;
}

.btn-small {
    margin: 7px;
}

.collapsible-header .col strong {
    margin: 7px;
    line-height: 42px;
}

body {
    background-color: olivedrab
}
