{% extends "base.html" %}
{% block content %}

<h3 class="black-text center-align">Add Offer</h3>

<div class="row card-panel beige lighten-3">
    <form class="col s12" method="POST" action="">
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-folder-open prefix black-text"></i>
                <select id="category_name" name="category_name" class="validate" required>
                    <option value="" disabled selected>Choose Category</option>
                    {% for category in categories %}
                        <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                    {% endfor %}
                </select>
                <label for="category_name">Offer Category</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-hand-holding-heart prefix black-text"></i>
                <input id="offer_name" name="offer_name" minlength="4" maxlength="50" type="text" class="validate"
                    required>
                <label for="offer_name">Offer Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-pen prefix black-text"></i>
                <textarea id="offer_description" name="offer_description" minlength="10" maxlength="200"
                    class="materialize-textarea validate" required></textarea>
                <label for="offer_description">Offer Description</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-map-location prefix black-text"></i>
                <textarea id="offer_collection_point" name="offer_collection_point" minlength="10" maxlength="200"
                    class="materialize-textarea validate" required></textarea>
                <label for="offer_collection_point">Offer collection address</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-calendar-check prefix black-text"></i>
                <input id="offer_collection_date" name="offer_collection_date" type="text" class="datepicker validate"
                    required>
                <label for="offer_collection_date">Offer Collection Date</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-clock prefix black-text"></i>
                <input id="offer_collection_time" name="offer_collection_time" type="text" class="timepicker validate"
                    required>
                <label for="offer_collection_time">Offer Collection Start Time</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-hourglass-end prefix black-text"></i>
                <input id="offer_expiry_time" name="offer_expiry_time" type="text" class="timepicker validate" required>
                <label for="offer_expiry_time">Offer Collection Expiry Time</label>
            </div>
        </div>
        <div id="hot_product_id" class="row">
            <div class="input-field col s12">
                <div class="switch">
                    <i class="fa-solid fa-fire prefix black-text"></i>
                    <label for="is_hot_product">
                        <input type="checkbox" id="is_hot_product" name="is_hot_product">
                        <span class="lever"></span>
                        Caution: Hot Product !
                    </label>
                </div>
            </div>
        </div>
        <div id="frozen_product_id" class="row">
            <div class="input-field col s12">
                <div class="switch">
                    <i class="fa-solid fa-snowflake prefix black-text"></i>
                    <label for="is_frozen_product">
                        <input type="checkbox" id="is_frozen_product" name="is_frozen_product">
                        <span class="lever"></span>
                        Note: Frozen Product !
                    </label>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}
