{% extends "base.html" %}
{% block content %}

<h4 class="center-align white-text text-shadow background-color: light-blue darken-3">Add Offer</h4>
<div class="row card-panel beige lighten-3">
    <form class="col s12" method="POST" action="{{ url_for('add_offer') }}">
        <!-- select offer category -->
        <div class="row">
            <div class="input-field col s12">

                <i class="fas fa-folder-open prefix light-blue-text text-lighten-3"></i>
                <select id="category_name" name="category_name" class="validate" required>
                    <option value="" disabled selected>Choose Category</option>
                    {% for category in categories %}
                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                    {% endfor %}
                </select>
                <label class="light-blue-text text-lighten-3" for="category_name">Offer Category</label>
            </div>
        </div>
        <!-- offer name -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-hand-holding-heart prefix light-blue-text text-lighten-3"></i>
                <input id="offer_name" name="offer_name" minlength="4" maxlength="50" type="text" class="validate"
                    required>
                <label class="light-blue-text text-lighten-3" for="offer_name">Offer Name</label>
            </div>
        </div>
        <!-- offer description -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-pen prefix light-blue-text text-lighten-3"></i>
                <textarea id="offer_description" name="offer_description" minlength="10" maxlength="200"
                    class="materialize-textarea validate" required></textarea>
                <label  class="light-blue-text text-lighten-3" for="offer_description">Offer Description</label>
            </div>
        </div>
        <!-- offer collection address -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-map-location prefix light-blue-text text-lighten-3"></i>
                <textarea id="offer_collection_point" name="offer_collection_point" minlength="10" maxlength="200"
                    class="materialize-textarea validate" required></textarea>
                <label class="light-blue-text text-lighten-3" for="offer_collection_point">Offer collection address</label>
            </div>
        </div>
        <!-- offer collection date -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-calendar-check prefix light-blue-text text-lighten-3"></i>
                <input id="offer_collection_date" name="offer_collection_date" format="yyyy-mm-dd" type="text"
                    class="datepicker validate" required>
                <label class="light-blue-text text-lighten-3" for="offer_collection_date">Offer Collection Date</label>
            </div>
        </div>
        <!-- offer collection start time -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-clock prefix light-blue-text text-lighten-3"></i>
                <input id="offer_collection_start_time" name="offer_collection_start_time" type="text"
                    class="timepicker validate" required>
                <label class="light-blue-text text-lighten-3" for="offer_collection_start_time">Offer Collection Start Time</label>
            </div>
        </div>
        <!-- offer collection expiry time -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-hourglass-end prefix light-blue-text text-lighten-3"></i>
                <input id="offer_collection_expiry_time" name="offer_collection_expiry_time" type="text"
                    class="timepicker validate" required>
                <label class="light-blue-text text-lighten-3" for="offer_collection_expiry_time">Offer Collection Expiry Time</label>
            </div>
        </div>
        <!-- hot product button -->
        <div id="hot_product_id" class="row">
            <div class="input-field col s12">
                <div class="switch">
                    <i class="fa-solid fa-fire prefix red-text text-darken-4"></i>
                    <label for="is_hot_product">
                        <input type="checkbox" id="is_hot_product" name="is_hot_product">
                        <span class="lever cyan darken-4"></span>
                        Caution: Hot Product !
                    </label>
                </div>
            </div>
        </div>
        <!-- frozen product button -->
        <div id="frozen_product_id" class="row">
            <div class="input-field col s12">
                <div class="switch">
                    <i class="fa-solid fa-snowflake prefix blue-text text-darken-4"></i>
                    <label for="is_frozen_product">
                        <input type="checkbox" id="is_frozen_product" name="is_frozen_product">
                        <span class="lever cyan darken-4"></span>
                        Note: Frozen Product !
                    </label>
                </div>
            </div>
        </div>
        <!-- submit button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large cyan darken-4 text-shadow">
                    Add Offer <i class="fas fa-plus-square right"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}
