{% extends "base.html" %}
{% block content %}

<h4 class="center-align white-text text-shadow background-color: light-blue darken-3">Contact Admin</h4>

<div id="admin-pic"></div>
<br>

<div class="center-align row">
  <div class="card-panel teal">
    <span class="white-text">
      <h4>Contact us <i class="fas fa-phone"></i></h4>
      <h5>Phone: +31 71 341 0080</h5>
      <h5>Email: share2care@katwijk.com</h5>
    </span>
  </div>
</div>

<div class="center-align row">
  <div class="card-panel teal">
    <span class="white-text">
      <h4>Address <i class="fas fa-map-marker-alt"></i></h4>
      <h5>23 Kattenkruid Street</h5>
      <h5>Katwijk</h5>
      <h5>The Netherlands</h5>
    </span>
  </div>
</div>

<div class="center-align row">
  <div class="card-panel teal">
    <span class="white-text">
      <h4>Office hours <i class="fas fa-clock"></i> </h4>
      <h5>Monday to Friday : 09:00 to 13:00</h5>
    </span>
  </div>
</div>

<footer>
  <ul class="social-networks">
    <li><a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a></li>
    <li><a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a></li>
    <li><a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a></li>
  </ul>
</footer>

{% endblock %}
