{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Contact Admin</h3>

<div id="admin-pic">
</div>
<div class="row">
    <div class="section">

        <body>
            <section class="findus-section">
                <h2 id="our-story">Find Us <i class="fas fa-map"></i> </h2>
                <div>
                    <h2>Office hours <i class="fas fa-clock"></i> </h2>
                    <h3>Monday to Friday : 09:00 to 13:00</h3>
                </div>
                <br>
                <div>
                    <h2>Address <i class="fas fa-map-marker-alt"></i></h2>
                    <h3>23 Kattenkruid Street</h3>
                    <h3>Katwijk</h3>
                    <h3>The Netherlands</h3>
                </div>
                <br>
                <div>
                    <h2>Contact us <i class="fas fa-phone"></i></h2>
                    <h3>Phone: +31 71 341 0080</h3>
                    <h3>Email: sharing@caring.com</h3>
                </div>

            </section>
            <br>
        </body>
    </div>
</div>

<footer>
    <ul class="social-networks">
        <li><a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a></li>
        <li><a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a></li>
        <li><a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a></li>
    </ul>
</footer>



{% endblock %}
