{% extends "base.html" %}
{% block content %}

<h4 class="center-align white-text text-shadow background-color: light-blue darken-3">Edit Offer</h4>

<div class="row card-panel beige lighten-3">
    <form class="col s12" method="POST" action="{{ url_for('edit_offer', offer_id=offer._id) }}">
        <!-- category selection -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-folder-open prefix black-text"></i>
                <select id="category_name" name="category_name" class="validate" required>
                    <option value="" disabled>Choose Category</option>
                    {% for category in categories %}
                    {% if category.category_name == offer.category_name %}
                    <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                    {% else %}
                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <label for="category_name">Offer Category</label>
            </div>
        </div>
        <!-- offer name -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-hand-holding-heart prefix black-text"></i>
                <input id="offer_name" name="offer_name" minlength="4" maxlength="50" type="text" class="validate"
                    value="{{ offer.name }}" required>
                <label for="offer_name">Offer Name</label>
            </div>
        </div>
        <!-- offer description -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-pen prefix black-text"></i>
                <textarea id="offer_description" name="offer_description" minlength="10" maxlength="200"
                    class="materialize-textarea validate" required>
                    {{- offer.description -}}
                </textarea>
                <label for="offer_description">Offer Description</label>
            </div>
        </div>
        <!-- offer collection point -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-map-location prefix black-text"></i>
                <textarea id="offer_collection_point" name="offer_collection_point" minlength="10" maxlength="200"
                    class="materialize-textarea validate" required>
                    {{- offer.collection_point -}}
                </textarea>
                <label for="offer_collection_point">Offer collection address</label>
            </div>
        </div>
        <!-- offer collection date -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-calendar-check prefix black-text"></i>
                <input id="offer_collection_date" name="offer_collection_date" format="yyyy-mm-dd" type="text"
                    class="datepicker validate" value="{{ offer.collection_start_date }}" required>
                <label for="offer_collection_date">Offer Collection Date</label>
            </div>
        </div>
        <!-- offer collection start time -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-clock prefix black-text"></i>
                <input id="offer_collection_start_time" name="offer_collection_start_time" type="text"
                    class="timepicker validate" value="{{ offer.collection_start_time }}" required>
                <label for="offer_collection_start_time">Offer Collection Start Time</label>
            </div>
        </div>
        <!-- offer collection expiry time -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-hourglass-end prefix black-text"></i>
                <input id="offer_collection_expiry_time" name="offer_collection_expiry_time" type="text"
                    class="timepicker validate" value="{{ offer.collection_end_time }}" required>
                <label for="offer_collection_expiry_time">Offer Collection Expiry Time</label>
            </div>
        </div>
        <!-- hot product button -->
        <div id="hot_product_id" class="row">
            <div class="input-field col s12">
                <div class="switch">
                    <i class="fa-solid fa-fire prefix red-text"></i>
                    <label for="is_hot_product">
                        {% if offer.is_hot_product == "on" %}
                        <input type="checkbox" id="is_hot_product" name="is_hot_product" checked>
                        {% else %}
                        <input type="checkbox" id="is_hot_product" name="is_hot_product">
                        {% endif %}
                        <span class="lever"></span>
                        Caution: Hot Product !
                    </label>
                </div>
            </div>
        </div>
        <!-- frozen product button -->
        <div id="frozen_product_id" class="row">
            <div class="input-field col s12">
                <div class="switch">
                    <i class="fa-solid fa-snowflake prefix blue-text"></i>
                    <label for="is_frozen_product">
                        {% if offer.is_frozen_product == "on" %}
                        <input type="checkbox" id="is_frozen_product" name="is_frozen_product" checked>
                        {% else %}
                        <input type="checkbox" id="is_frozen_product" name="is_frozen_product">
                        {% endif %}
                        <span class="lever"></span>
                        Note: Frozen Product !
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12 center-align">
                <!-- cancel button -->
                <a href="{{ url_for('get_offers') }}" class="btn-large cyan darken-2 text-shadow">
                    Cancel <i class="fas fa-times-circle right"></i>
                </a>
                <!-- submit button -->
                <button type="submit" class="btn-large cyan accent-4 text-shadow">
                    Edit Offer <i class="fas fa-edit right"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}
