{% extends "base.html" %}
{% block content %}

<h3 class="black-text center-align">All Offers</h3>

<ul class="collapsible">
    {% for offer in offers %}
    <li>
        <div class="collapsible-header black-text light-green darken-4 text-shadow">
            <div class="col s3">
                <i class="fas fa-caret-down"></i>
                <a href="" class="btn-small green accent-4">Done</a>
                <a href="{{ url_for('edit_offer', offer_id=offer._id) }}" class="btn-small light-blue lighten-1">Edit</a>
            </div>
            <div class="col s9">
                <i class="fa-solid fa-angle-down"></i>
                <strong>{{ offer.name }}</strong> : {{ offer.collection_date_start }}
                {% if offer.is_hot_product == "on" %}
                <i class="fa-solid fa-fire black-text text-lighten-4 tooltipped" data-position="right"
                    data-tooltip="Hot Product!"></i>
                {% endif %}
                {% if offer.is_frozen_product == "on" %}
                <i class="fa-solid fa-snowflake black-text text-lighten-4 tooltipped" data-position="right"
                    data-tooltip="Frozen Product!"></i>
                {% endif %}
            </div>
        </div>
        <div class="collapsible-body">
            <strong>{{ offer.category_name }}</strong>
            <p>
                What is on offer: {{ offer.description }}
            </p>
            <p>
                Where to find it: {{ offer.collection_point }}
            </p>
            <p>
                When to collect it: {{ offer.collection_date_start }}</p>
            <p>
                This offer expires: {{ offer.collection_date_end }}
            </p>
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}
