{% extends "base.html" %}
{% block content %}

<h3 class="black-text center-align background-color: red accent-4">All Offers</h3>

<!-- https://stackoverflow.com/questions/30207047/how-to-get-multi-select-dropdown-in-materialize-css -->
<form action="{{ url_for('get_offers') }}" method="get">
    <select id="selected_categories" name="selected_categories" multiple>
        <option value="" disabled selected>Filter by categories</option>
        {% for category in categories %}
            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Apply filter" class="btn-small red lighten-1">
    <input type="submit" value="Clear filter" class="btn-small green lighten-1">
</form>

<ul class="collapsible">
    {% for offer in offers %}
    <li>
        <div class="collapsible-header black-text red darken-2 text-shadow">

            <i class="fas fa-caret-down" data-position="left"></i>

            <div class="col s9">
                <strong>{{ offer.name }}</strong> : {{ offer.collection_date_start }}
                {% if offer.is_hot_product == "on" %}
                <i class="fa-solid fa-fire black-text text-lighten-4 tooltipped" data-position="right"
                    data-tooltip="Hot Product!"></i>
                {% endif %}
                {% if offer.is_frozen_product == "on" %}
                <i class="fa-solid fa-snowflake black-text text-lighten-4 tooltipped" data-position="right"
                    data-tooltip="Frozen Product!"></i>
                {% endif %}
            </div>

            <div class="col s3">
                {% if session.username|lower == offer.offered_by|lower %}
                <pre>
                <a href="{{ url_for('delete_offer', offer_id=offer._id) }}" class="btn-small blue lighten-1"> Delete </a>
                <a href="{{ url_for('edit_offer', offer_id=offer._id) }}" class="btn-small yellow lighten-1">  Edit  </a>
                </pre>
                {% endif %}
            </div>
        </div>
      
        <div class="collapsible-body">
            <strong>{{ offer.category_name }}</strong>
            <p>What is on offer: {{ offer.description }}</p>
            <p>Offered by: {{ offer.offered_by }}</p>
            <p>Where to find it: {{ offer.collection_point }}</p>
            <p>When to collect it: {{ offer.collection_date_start }}</p>
            <p>This offer expires: {{ offer.collection_date_end }}</p>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}