{% extends "base.html" %}
{% block content %}

<h4 class="center-align white-text text-shadow background-color: light-blue darken-3">Register to become a member <i class="fa-solid fa-unlock-keyhole"></i> </h4>



<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
        <div class="card-panel ">
            <!-- username -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-user prefix light-blue-text text-lighten-3"></i>
                    <input id="username" name="username" type="text" class="validate" minlength="4" maxlength="25"
                        pattern="^[a-zA-Z0-9]{5,15}$" required>
                    <label for="username">Username</label>
                </div>
            </div>
            <!-- firstname -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-id-card prefix light-blue-text text-lighten-3"></i>
                    <input id="firstname" name="firstname" type="text" class="validate" minlength="2" maxlength="100"
                        pattern="^[a-zA-Z0-9]{2,100}$" required>
                    <label for="firstname">Firstname</label>
                </div>
            </div>
            <!-- surname -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-id-card prefix light-blue-text text-lighten-3"></i>
                    <input id="surname" name="surname" type="text" class="validate" minlength="2" maxlength="100"
                        pattern="^[a-zA-Z0-9]{2,100}$" required>
                    <label for="surname">Surname</label>
                </div>
            </div>
            <!-- postal_code -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-envelopes-bulk prefix light-blue-text text-lighten-3"></i>
                    <input id="postal_code" name="postal_code" type="text" class="validate" minlength="6" maxlength="6"
                    pattern="^[0-9A-Z]{6,6}$" required>
                    <label for="postal_code">Postal Code</label>
                </div>
            </div>
            <!-- password -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-user-secret prefix light-blue-text text-lighten-3"></i>
                    <input id="password" name="password" type="password" class="validate" minlength="5" maxlength="100"
                        pattern="^[a-zA-Z0-9]{5,100}$" required>
                    <label for="password">Password</label>
                </div>
            </div>
            <!-- rulescheck -->
            <div class="row">
                <div class="input-field col s12">
                    <label for="ruleschecked">
                        <i class="light-green-text text-darken-4"></i>
                        <input id="ruleschecked" name="ruleschecked" type="checkbox" required />
                        <span>I have read and agree to follow the site rules and guidelines below</span><br><br>
                    </label>
                </div>
            </div>
            <div>

            </div>
            <!-- register -->
            <div class="row">
                <button type="submit" class="col s12 btn-large cyan darken-4 text-shadow">
                    Register <i class="fas fa-sign-in-alt"></i>
                </button>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <div class="section">
        <h5>Website Disclaimer:</h5>
        <p>The information provided on this site is intended solely for the personal non-commercial use of the
            user/member, who accepts full responsibility for its use.
            The site owner and/or administrator assumes no responsibility or liability for any errors or omisions on
            this site. The information contained herein is provided on an "as is" basis with no guarantees or assurances
            of completeness, accuracy, usefulness or timelines and without any warranties of any kind whatsoever,
            express or implied.</p>
            <br>
            <h5>Rules and guidelines to consider as a member of this community website:</h5>
            <p>
                <ol>
                    <li>
                        All offers presented on this site will be offered free from remuniration;
                    </li>
                    <li>
                        No trading and/or selling of services and/or products will be allowed;
                    </li>
                    <li>
                        No animals and/or live stock will be offered on this site;
                    </li>
                    <li>
                        No abusive language and/or bullying will be tolerated;
                    </li>
                    <li>
                        No content of any sexual nature will be allowed;
                    </li>
                </ol>
                <ul>
                    By becoming a member and user of this site, acceptance to abide by the rules and guidelines are personally confirmed.
                    Failure to follow the rules and guidelines herein will cause the immediate removal of the user/member
                    from the site.
                </ul>
            </p>
    </div>
</div>



{% endblock %}
