{% extends "base.html" %}
{% block content %}

<div>
    <h4 class="center-align white-text text-shadow background-color: light-blue darken-3">Welcome</h4>
</div>
<div id="welcome-pic">
</div>
<div class="row">
    <div class="section">
        <h5>Welcome to the Katwijk community website.</h5>
            <p>
                BLABLABALBA Care-2-Share website is representative of the community where I live. On my walks through our neighbourhood I have often come accross casual displays of generosity. It is not strange to find a table on the front lawn of a property, displaying fruits, vegetables, eggs, plant seedlings, honey, home made jams, second hand books, childrens' toys. The offerings vary. Sometimes just a few products, sometimes a lot.  There would be a sign that says help yourself, sometimes it may indicate you can take what you need and leave a small fee if you wish. Even though the random offerings are quite wonderful to come accross, not all streets are busy, the weather can ruin a splendid gesture... and off course the birds may get into the fruits...
                I have seen people make random posts on social media inviting strangers to contact them if they feel alone and would like to join for a family dinner. In winter I have often seen posts about soups being made, to share.  I have seen a couple invite strangers to make use of their large garden for picnics or barbeques.  
                I have been in this country for three years and admit that even though the pandemic basically halted the sense of community for about two years, people seem eager to once again engage with their fellow human beings. It is not just about the people being approachable, my new countrymen and women do not like letting anything go to waste. I have read that the Netherlands is a circular economy (in process off course), but it is very apparent from my perspective.  Wearing previously loved clothes is fashionable.  Bicycles are being passed on (and I am not referring to the ones being taken without permission....).  
                Developing this website brought me great joy and I would love to get it ready to share with the community.  I would definitely be an active participant.  I have made my share of petfood donations (my cats insist they want a varied diet, and once I buy enough to last a while they change their minds and we end up with tins, pouches and bags of catfood that I know could be well enjoyed by other, less fussy felines in our neighbourhood).
                In my opinion I now live in a community that can appreciate diversity and enjoy some of the simple joys life can offer, like sharing rather than letting those extra eggs or apples go to waste.
                This website is a tool that the community can use to ensure those products are shared, before the "best before" time runs out. (even then it may still not go to the waste bin !)  Care-2-Share can enable like minded people to connect and as a result this website came to fruition, yes sharing is caring. 
                The site enables members from the community to register as an online member, browse what is on offer, add their own offerings to the list, amend and delete their offers when required. When new members sign up, they need to provide their postal code to confirm they are from the area.  It is not a security layer but more an informal manner for keeping it within the community. At this stage this is still a manual check being attended to by the site owner, with the intention to change the code to only allow new members to sign up should their postal codes correspond with specific parameters (for the area).  Visitors may also contact the admin (site owner) by sending an email.  
                
                For the community the value of the site is an easy to use platform to do what they have been doing, for the site owner it is pure enjoyment of finding the like minded sharing and caring attitude of other community members aiming to not let any peasoup or "oliebollen" go to waste.
                
                The website is not area specific and can very easily be adapted / applied for other areas / communities, if desired.
                </p>
                <p>
                    - As a First Time User, I want:
                    - the home page to clearly indicate its intention and target group.
                    - to find the home page familiar to my experience in my area and feel welcome/enticed to join this online community platform
                    - each page to clearly indicate the navigation possibilities of the site.
                    - to find the website easy to navigate and move between the pages of the site.
                    - to find the rules and guidelines of the website clear and not too formal
                    - to be able to browse through the list/s of offerings from my community
                    - to know exactly when offerings are available
                    - to know whether any expiry date relates to a specific offering
                    - to be able to register as a member of the community and as a result be able to access more functions on the site such as posting/editing/deleting my own offerings
                    - to be able to post my own offerings with ease of use
                    - to change / amend any of my offerings with ease of use
                    - to delete my offerings with ease of use
                    - to be able to access the site from different devices, thus the site must be responsive
                    - to be able to communicate with the site owner, should I have suggestions, queries, concerns or maybe even a compliment

                </p>
                
            <p>
                - As a Returning User(registered member), I want to:
                - know that registered members are from my community/area/vicinity, thus the area code checking when registering as a user is a good feature of the site
                - find it easy to log into my account
                - find it easy to log out of my account
                - find it easy to add new offerings
                - find it easy to amend my offerings
                - find it easy to delete any / or all of my offerings
                - find it easy to search for offerings on the site
                - be able to communicate with the site owner / administrator should I need to
            </p>
                
                <p>
                    - As the Site Owner I want to:
                    - provide a site that is clear in its intention
                    - provide the community with a user-friendly site where they can share their offerings with one another and as a result try and share where applicable fresh meals / produce before an expiry date arise, where applicable
                    - promote / further the sharing and caring attitude of the community by bringing them together and enabling them to "find" one another in a easy to navigate and safe environment
                    - as a minimum requirement, require a postal code when new members register to try and keep this initiative within the intended community, to also keep it practical from a distance perspective when offering/collecting/getting together etc.
                    - keep the site relevant and simple to use, thus ensuring the site stays fresh and relevant, I need to be able to delete any expired offers(if not removed by the members), delete complete inactive members(which may have relocated....?)
                    - easily create new categories, if a need arises (as may be requested by a community member (if request/s received via email)
                    -  be able to store as much data as needed to be able to host the offerings from the community 
                    -  ensure that the site is accessible from all device sizes
                    -  ensure that members are not able to access the profile of other members and only be able to access, add, delete, amended offerings created from their own profiles
                    -  host a friendly community site easy to use by young and old
                    -  be able to receive communication / feedback / requests from the community via the contact details provided (as far as possible and applicable) keep the site reflective of the community and its members
                
                </p>
                
    </div>
</div>

<footer>
    <ul class="social-networks">
        <li><a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a></li>
        <li><a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a></li>
        <li><a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a></li>
    </ul>
</footer>

{% endblock %}