{% extends "base.html" %}
{% block content %}

<h3 class="center-align white-text text-shadow background-color: light-blue darken-3">Welcome</h3>

<div id="welcome-pic">
</div>
<div class="row">
    <div class="section">
        <h5>Welcome to our community website.</p>
            <br>
            <h5>Rules and </h5>
            <p>
                <ol>
                    <li>
                        All 
                    </li>
                    <li>
                        No 
                    </li>
                    <li>
                        No 
                    </li>
                    <li>
                        No 
                    </li>
                    <li>
                        No 
                    </li>
                </ol>
                <ul>
                    By becoming a member and user 
                </ul>
            </p>
    </div>
</div>

<footer>
    <ul class="social-networks">
        <li><a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a></li>
        <li><a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a></li>
        <li><a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a></li>
    </ul>
</footer>

{% endblock %}