{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Welcome</h3>

<div id="welcome-pic">
</div>
<div class="row">
    <div class="section">
        <h5>Website Disclaimer:</h5>
        <p>The information provided on this site is intended solely for the personal non-commercial use of the
            user/member, who accepts full responsibility for its use.
            The site owner and/or administrator assumes no responsibility or liability for any errors or omisions on
            this site. The information contained herein is provided on an "as is" basis with no guarantees or assurances
            of completeness, accuracy, usefulness or timelines and without any warranties of any kind whatsoever,
            express or implied.</p>
            <br>
            <h5>Rules and guidelines to consider as a member of this community website:</h5>
            <p>
                <ol>
                    <li>
                        All offers presented on this site will be offered free from remuniration;
                    </li>
                    <li>
                        No trading and/or selling of services and/or products will be allowed;
                    </li>
                    <li>
                        No animals and/or live stock will be offered on this site;
                    </li>
                    <li>
                        No abusive language and/or bullying will be tolerated;
                    </li>
                    <li>
                        No content of any sexual nature will be allowed;
                    </li>
                </ol>
                <ul>
                    By becoming a member and user of this site, acceptance to abide by the rules and guidelines are personally confirmed.
                    Failure to follow the rules and guidelines herein will cause the immediate removal of the user/member
                    from the site.
                </ul>
            </p>
    </div>
</div>

<footer>
    <ul class="social-networks">
        <li><a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a></li>
        <li><a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a></li>
        <li><a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a></li>
    </ul>
</footer>

{% endblock %}